In [1]:
import pandas as pd 
from tqdm import tqdm

from src.feature_pipeline.preprocessing import DataProcessor

# Intro

In [2]:
processor = DataProcessor(year=2024)
data = processor.data

2024-07-25 09:46:24.267 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202401-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:25.337 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202402-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:26.601 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202403-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:28.367 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202404-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:30.633 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202405-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:34.034 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202406-divvy-tripdata.zip is already in local storage
2024-07-25 09:46:38.208 | INFO     | src.feature_pipeline.data_extraction:check_for_file_and_download:107 - Downloading and extracting 202407-divvy-tripdata.zip
2024-07-25 09:46:38.215 | ERROR    | src.feature_pipeline.data_extraction:check_for_file_and_download:110 - HTTPSConnectionPool(host='divvy-tripdata.s3.amazonaws.com', port=443): Max retries exceeded with url: /202407-divvy-tripdata.zip (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7bd53459ee10>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))
2024-07-25 09:46:38.217 | ERROR    | src.feature_pipeline.data_extraction:load_raw_data:154 - [Errno 2] No such file or directory: '/home/kobina/ML/Projects/Divvy-Bikes-Demand-Predictor/data/raw/202407-divvy-tripdata/202407-divvy-tripdata.csv'

In [5]:
data.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1D650626C8C899A,electric_bike,2024-01-12 15:30:27,2024-01-12 15:37:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506,member
1,EECD38BDB25BFCB0,electric_bike,2024-01-08 15:45:46,2024-01-08 15:52:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902937,-87.634440,41.889177,-87.638506,member
2,F4A9CE78061F17F7,electric_bike,2024-01-27 12:27:19,2024-01-27 12:35:19,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902951,-87.634470,41.889177,-87.638506,member

In [7]:
data.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    414704
start_station_id      414704
end_station_name      432317
end_station_id        432317
start_lat                  0
start_lng                  0
end_lat                 3389
end_lng                 3389
member_casual              0
dtype: int64

In [3]:
alp = pd.read_parquet("/home/kobina/ML/Projects/Divvy-Bikes-Demand-Predictor/data/cleaned/first_clean/cleaned_data_indexer_two.parquet")
alp

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,2024-01-12 15:30:27.000,2024-01-12 15:37:59.000,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506
1,2024-01-08 15:45:46.000,2024-01-08 15:52:59.000,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902937,-87.634440,41.889177,-87.638506
2,2024-01-27 12:27:19.000,2024-01-27 12:35:19.000,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.902951,-87.634470,41.889177,-87.638506
3,2024-01-29 16:26:17.000,2024-01-29 16:56:06.000,Wells St & Randolph St,TA1305000030,Larrabee St & Webster Ave,13193,41.884295,-87.633963,41.921822,-87.644140
4,2024-01-31 05:43:23.000,2024-01-31 06:09:35.000,Lincoln Ave & Waveland Ave,13253,Kingsbury St & Kinzie St,KA1503000043,41.948797,-87.675278,41.889177,-87.638506
...,...,...,...,...,...,...,...,...,...,...
716546,2024-06-12 17:47:45.743,2024-06-12 18:17:11.714,Campbell Ave & North Ave,13257,None,None,41.910553,-87.689565,41.880000,-87.610000
716547,2024-06-25 16:28:34.427,2024-06-25 16:46:58.584,W Oakdale Ave & N Broadway,20252.0,None,None,41.935598,-87.644072,41.910000,-87.670000
716548,2024-06-05 08:20:06.133,2024-06-05 08:37:36.306,Campbell Ave & North Ave,13257,None,None,41.910549,-87.689592,41.920000,-87.650000
716549,2024-06-02 16:28:53.588,2024-06-02 16:39:31.972,Kedzie Ave & Leland Ave,KA1504000126,Campbell Ave & Montrose Ave,15623,41.966686,-87.708052,41.961524,-87.691177
716550,2024-06-25 20:38:21.458,2024-06-25 20:51:56.832,Campbell Ave & North Ave,13257,Wood St & Chicago Ave,637,41.910535,-87.689556,41.895634,-87.672069

In [1]:
import pandas as pd 
not_fully_clean = pd.read_parquet("/home/kobina/ML/Projects/Divvy-Bikes-Demand-Predictor/data/cleaned/first_clean/cleaned_data_indexer_two.parquet")

In [2]:
not_fully_clean.isna().sum()

started_at                 0
ended_at                   0
start_station_name    413918
start_station_id      413918
end_station_name      428290
end_station_id        428290
start_lat                  0
start_lng                  0
end_lat                    0
end_lng                    0
dtype: int64

# IDs being treated as strings

In [4]:
def find_ids_treated_as_strings(scenario: str):
    non_str_counter = 0
    rows = range(data.shape[0])
    column_index = data.columns.get_loc(f"{scenario}_station_id")

    counter = 0
    for row in tqdm(rows):
        if isinstance(data.iloc[row, column_index], str) and not pd.isnull(data.iloc[row, column_index]):
            counter += 1

    print(f"{counter / len(rows) * 100} % of the end station IDs are being treated as strings")

### All Station IDs came as strings

In [6]:
find_ids_treated_as_strings(column_name="start_station_id")

100%|██████████| 2404963/2404963 [03:27<00:00, 11593.13it/s]

82.75632514928503 % of the end station IDs are being treated as strings

In [8]:
find_ids_treated_as_strings(column_name="end_station_id")

100%|██████████| 2404963/2404963 [02:36<00:00, 15328.01it/s]

82.02396460985054 % of the end station IDs are being treated as strings

# Missing values

In [19]:
data.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    414704
start_station_id      414704
end_station_name      432317
end_station_id        432317
start_lat                  0
start_lng                  0
end_lat                 3389
end_lng                 3389
member_casual              0
dtype: int64

In [9]:
print(f"{data["start_station_id"].isna().sum() / data.shape[0] * 100}% of the start station IDs are missing")

17.24367485071496% of the start station IDs are missing

In [10]:
print(f"{data["end_station_id"].isna().sum() / data.shape[0] * 100}% of the end station IDs are missing")

17.976035390149452% of the end station IDs are missing

# Long IDS

In [17]:
def print_long_ids(column_name: str):
    rows = range(data.shape[0])
    column_index = data.columns.get_loc(column_name)
    
    counter = 0
    for row in tqdm(rows):
        if len(str(data.iloc[row, column_index])) > 7 and not pd.isnull(data.iloc[row, column_index]):
            counter += 1

    print(f"There are {len(data[column_name].unique())} unique IDs")
    print(f"{counter / len(rows) * 100} % of the end station IDs are long strings")

In [18]:
print_long_ids(column_name="start_station_id")

100%|██████████| 2404963/2404963 [02:45<00:00, 14539.76it/s]

There are 1529 unique IDs
40.76940061032124 % of the end station IDs are long strings

In [ ]:
print_long_ids(column_name="end_station_id")

100%|██████████| 2404963/2404963 [02:36<00:00, 15380.43it/s]

There are 1544 unique IDs
There are 974914 long strings