In [1]:
import pandas as pd 
from tqdm import tqdm

from src.feature_pipeline.preprocessing import DataProcessor

# Intro

In [2]:
processor = DataProcessor(year=2024)
data = processor.data

2024-07-23 23:11:03.727 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202401-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:04.691 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202402-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:06.079 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202403-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:07.875 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202404-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:10.392 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202405-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:14.163 | SUCCESS  | src.feature_pipeline.data_extraction:check_for_file_and_download:112 - The file 202406-divvy-tripdata.zip is already in local storage
2024-07-23 23:11:18.622 | INFO     | src.feature_pipeline.data_extraction:check_for_file_and_download:107 - Downloading and extracting 202407-divvy-tripdata.zip
2024-07-23 23:11:18.630 | ERROR    | src.feature_pipeline.data_extraction:check_for_file_and_download:110 - HTTPSConnectionPool(host='divvy-tripdata.s3.amazonaws.com', port=443): Max retries exceeded with url: /202407-divvy-tripdata.zip (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x737250cf9cd0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))
2024-07-23 23:11:18.632 | ERROR    | src.feature_pipeline.data_extraction:load_raw_data:154 - [Errno 2] No such file or directory: '/home/kobina/ML/Projects/Divvy-Bikes-Demand-Predictor/data/raw/202407-divvy-tripdata/202407-divvy-tripdata.csv'

In [3]:
data.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1D650626C8C899A,electric_bike,2024-01-12 15:30:27,2024-01-12 15:37:59,Wells St & Elm St,KA1504000135,Kingsbury St & Kinzie St,KA1503000043,41.903267,-87.634737,41.889177,-87.638506,member

In [6]:
data["start_station_name"].isna().sum()

414704

In [7]:
data["end_station_name"].isna().sum()

432317

# IDs being treated as strings

In [4]:
def find_ids_treated_as_strings(scenario: str):
    non_str_counter = 0
    rows = range(data.shape[0])
    column_index = data.columns.get_loc(f"{scenario}_station_id")

    counter = 0
    for row in tqdm(rows):
        if isinstance(data.iloc[row, column_index], str) and not pd.isnull(data.iloc[row, column_index]):
            counter += 1

    print(f"{counter / len(rows) * 100} % of the end station IDs are being treated as strings")

### All Station IDs came as strings

In [6]:
find_ids_treated_as_strings(column_name="start_station_id")

100%|██████████| 2404963/2404963 [03:27<00:00, 11593.13it/s]

82.75632514928503 % of the end station IDs are being treated as strings

In [8]:
find_ids_treated_as_strings(column_name="end_station_id")

100%|██████████| 2404963/2404963 [02:36<00:00, 15328.01it/s]

82.02396460985054 % of the end station IDs are being treated as strings

# Missing values

In [19]:
data.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    414704
start_station_id      414704
end_station_name      432317
end_station_id        432317
start_lat                  0
start_lng                  0
end_lat                 3389
end_lng                 3389
member_casual              0
dtype: int64

In [9]:
print(f"{data["start_station_id"].isna().sum() / data.shape[0] * 100}% of the start station IDs are missing")

17.24367485071496% of the start station IDs are missing

In [10]:
print(f"{data["end_station_id"].isna().sum() / data.shape[0] * 100}% of the end station IDs are missing")

17.976035390149452% of the end station IDs are missing

# Long IDS

In [17]:
def print_long_ids(column_name: str):
    rows = range(data.shape[0])
    column_index = data.columns.get_loc(column_name)
    
    counter = 0
    for row in tqdm(rows):
        if len(str(data.iloc[row, column_index])) > 7 and not pd.isnull(data.iloc[row, column_index]):
            counter += 1

    print(f"There are {len(data[column_name].unique())} unique IDs")
    print(f"{counter / len(rows) * 100} % of the end station IDs are long strings")

In [18]:
print_long_ids(column_name="start_station_id")

100%|██████████| 2404963/2404963 [02:45<00:00, 14539.76it/s]

There are 1529 unique IDs
40.76940061032124 % of the end station IDs are long strings

In [ ]:
print_long_ids(column_name="end_station_id")

100%|██████████| 2404963/2404963 [02:36<00:00, 15380.43it/s]

There are 1544 unique IDs
There are 974914 long strings