# Memory Management

In [1]:
import pandas as pd
from src.paths import ORIGINAL_DATA_TYPES, ALTERED_DATA_TYPES
from src.miscellaneous import view_memory_usage, change_column_data_type, save_as_parquet

## 2023

In [2]:
trips_2023 = pd.read_parquet(ORIGINAL_DATA_TYPES/"trips_2023.parquet")
trips_2023.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [3]:
trips_2023["started_at"] = pd.to_datetime(trips_2023["started_at"], format = "mixed")
trips_2023["ended_at"] = pd.to_datetime(trips_2023["ended_at"], format = "mixed")

### Changing the Data Types of The Other Columns

##### Rideable Type & Member Type

In [4]:
change_column_data_type(data = trips_2023, columns = ["rideable_type", "member_casual"], to_format = "category")

##### Starting & Ending Station Names

In [5]:
change_column_data_type(data = trips_2023, columns = ["start_station_name", "end_station_name"], to_format = "category")

###### The Latitudes & Longitudes could not be changed into int16 values due to the presence of missing values. During the cleaning stage, this issue will be taken care of.

### Saving the data from 2020 to 2023 as pkls

In [6]:
trips_2023.to_parquet(path = ALTERED_DATA_TYPES/"2020 - 2023"/"trips_2023.parquet")