# Data Cleaning

In [46]:
import pandas as pd
from src.core.paths import RAW_DATA_DIR, ALTERED_DATA_PICKLES, CLEANED_DATA
from src.core.data import save_as_pkl, find_first_nan, change_column_data_type

## 2014 - 2017

In [47]:
trips_2014 = pd.read_pickle(ALTERED_DATA_PICKLES/"2014 - 2017/0.pkl")
trips_2015 = pd.read_pickle(ALTERED_DATA_PICKLES/"2014 - 2017/1.pkl")
trips_2016 = pd.read_pickle(ALTERED_DATA_PICKLES/"2014 - 2017/2.pkl")
trips_2017 = pd.read_pickle(ALTERED_DATA_PICKLES/"2014 - 2017/3.pkl")

pre_2018 = [trips_2014, trips_2015, trips_2016, trips_2017]

##### Dropping Irrelevant Columns

###### All four of these dataframes have the same column names. I am removing the station IDs (for the station at the beginning of each trip) because I will be more interested in deriving the latitudes and longitudes of each station

In [48]:
# Removing said columns
for dataset in pre_2018:

    dataset.drop(
        columns = ["trip_id", "bikeid", "from_station_id", "to_station_id", "birthyear", "gender"],
        inplace = True
    )

##### Renaming certain columns

In [49]:
for dataset in pre_2018:

    # Rename some of the columns
    dataset.rename(
        columns = {
            "tripduration" : "trip_duration (seconds)",
            "usertype" : "user_type",
            "birthyear" : "birth_year",
            "starttime" : "start_time",
            "stoptime" : "stop_time"
        }, inplace = True
    )

##### Checking for Missing Values

In [50]:
for dataset in pre_2018:

    dataset.isna().sum() 
    print("######################")

######################
######################
######################
######################

##### Checking for Duplicates

In [51]:
# Use a list comprehension to view the number of duplicated observations in each dataset
[
    dataset[dataset.duplicated(keep = "last") == True].shape[0] for dataset in pre_2018
]

[3132, 3583, 799353, 5152]

###### All four datasets from 2014 - 2017 contain duplicated observations, so we remove them in the next step

In [52]:
for dataset in pre_2018:

    dataset.drop_duplicates(inplace = True)

## 2018 - 2019

### 2018

In [53]:
trips_2018 = pd.read_pickle(ALTERED_DATA_PICKLES/"2018 - 2019/0.pkl")
trips_2018.columns

Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year', 'trip_id', 'start_time',
       'end_time', 'bikeid', 'tripduration', 'from_station_id',
       'from_station_name', 'to_station_id', 'to_station_name', 'usertype',
       'gender', 'birthyear'],
      dtype='object')

In [54]:
trips_2018.drop(
    columns = ["Member Gender", "05 - Member Details Member Birthday Year", "trip_id", "from_station_id", "to_station_id",
               "birthyear", "gender", "01 - Rental Details Rental ID", "03 - Rental Start Station ID", "02 - Rental End Station ID"], 
    inplace = True
    )

#### Viewing the Data

In [55]:
trips_2018

,01 - Rental Details Local Start Time,01 - Rental Details Local End Time,01 - Rental Details Bike ID,01 - Rental Details Duration In Seconds Uncapped,03 - Rental Start Station Name,02 - Rental End Station Name,User Type,start_time,end_time,bikeid,tripduration,from_station_name,to_station_name,usertype
0,2018-01-01 00:12:00,2018-01-01 00:17:23,3304.0,323.0,Damen Ave & Pierce Ave,Claremont Ave & Hirsch St,Subscriber,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1,2018-01-01 00:41:35,2018-01-01 00:47:52,5367.0,377.0,Winthrop Ave & Lawrence Ave,Clark St & Winnemac Ave (Temp),Subscriber,NaT,NaT,NaN,NaN,NaN,NaN,NaN
2,2018-01-01 00:44:46,2018-01-01 01:33:10,4599.0,"2,904.0",LaSalle St & Washington St,Troy St & North Ave,Subscriber,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3,2018-01-01 00:53:10,2018-01-01 01:05:37,2302.0,747.0,Rush St & Hubbard St,Larrabee St & Oak St,Subscriber,NaT,NaT,NaN,NaN,NaN,NaN,NaN
4,2018-01-01 00:53:37,2018-01-01 00:56:40,3696.0,183.0,Blue Island Ave & 18th St,Paulina St & 18th St,Subscriber,NaT,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642681,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2018-12-31 23:45:17,2018-12-31 23:50:05,2931.0,288.0,Dearborn St & Monroe St,Franklin St & Lake St,Subscriber
642682,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2018-12-31 23:48:48,2018-12-31 23:57:22,4386.0,514.0,Dearborn St & Van Buren St (*),State St & Randolph St,Subscriber
642683,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2018-12-31 23:50:09,2018-12-31 23:57:16,4927.0,427.0,Federal St & Polk St,Michigan Ave & Lake St,Subscriber
642684,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2018-12-31 23:55:04,2018-12-31 23:58:24,1350.0,200.0,Clark St & Lincoln Ave,Sedgwick St & North Ave,Subscriber
642685,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2018-12-31 23:59:18,2019-01-01 00:20:43,2006.0,"1,285.0",Kedzie Ave & Milwaukee Ave,Ashland Ave & Wrightwood Ave,Subscriber

###### Looking at the structure of 2018's dataframe, it would appear that this dataframe it is a diagonal matrix. It has 3,603,082 rows. Let us consider how many missing values there are in the "lower right" section of what appears to be a diagonal matrix above.

In [56]:
trips_2018.iloc[:,7:].isna().sum()

start_time           387145
end_time             387145
bikeid               387145
tripduration         387145
from_station_name    387145
to_station_name      387145
usertype             387145
dtype: int64

###### As stated, I suspect that this is a diagonal matrix. To confirm this, I have to investigate the number of missing values before and after the line that divides the data into two vertical sections. We see for instance that there are 387,145 missing values in each of the rows of this "lower right" section of the matrix.

###### Let us check how many missing values there are on the "upper left" section of the matrix

In [57]:
trips_2018.iloc[:,:7].isna().sum()

01 - Rental Details Local Start Time                3215937
01 - Rental Details Local End Time                  3215937
01 - Rental Details Bike ID                         3215937
01 - Rental Details Duration In Seconds Uncapped    3215937
03 - Rental Start Station Name                      3215937
02 - Rental End Station Name                        3215937
User Type                                           3215937
dtype: int64

###### Notice that we would have a major piece of supporting evidence (in favour of my suspicion) if the sum of the number of missing values from the two sections equalled the total number of missing values in the whole matrix. This is exactly the case, since 3,215,937 + 387,145 = 3,603,082.

###### We need to find out on which row (of the "lower left" dataframe) the missing values start, so that we can see where this empty block of data begins. It would be a mistake to assume that the missing values on the "lower left" start at the half-way point (row-wise).

In [58]:
# Find the first row where a missing value occurs
find_first_nan(data = trips_2018, missing = True, just_reveal = True)

387145

###### The first missing value occurs on row #387,145. And for further confirmation, let us check whether there are any non-missing values after this row.

In [59]:
find_first_nan(
    data = trips_2018.iloc[387145:,:],
    missing = False,
    just_reveal = True
)

###### Just to be thorough, let's see when the missing values on the "top left" end

In [60]:
# Find the first row where a missing value occurs
right_half_2018 = [find_first_nan(data = trips_2018.iloc[:,i:], missing = False, just_reveal = False) for i in range(7,14)]
right_half_2018

[387145, 387145, 387145, 387145, 387145, 387145, 387145]

###### They end at the same place where they begin on the "top right"

##### Forming the Final 2018 Dataset

In [61]:
top_left_2018 = trips_2018.iloc[:387145, :7]
bottom_right_2018 = trips_2018.iloc[387145:, 7:]

# Final Renaming of columns
top_left_2018.rename(columns = {
                    "01 - Rental Details Local Start Time": "start_time",
                    "01 - Rental Details Local End Time": "end_time",
                    "01 - Rental Details Bike ID": "bike_id",
                    "01 - Rental Details Duration In Seconds Uncapped": "trip_duration (seconds)",
                    "03 - Rental Start Station Name": "from_station_name",
                    "02 - Rental End Station Name": "to_station_name",
                    "User Type": "user_type"}, inplace = True)


bottom_right_2018.rename(columns = {
                        "bikeid": "bike_id",
                        "tripduration": "trip_duration (seconds)",
                        "usertype": "user_type"}, inplace = True)

In [62]:
trips_2018 = pd.concat([top_left_2018, bottom_right_2018], axis = 0, ignore_index = True)

### 2019

#### Viewing the Data

In [63]:
trips_2019 = pd.read_pickle(ALTERED_DATA_PICKLES/"2018 - 2019/1.pkl")
trips_2019.columns

Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear',
       '01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')

In [64]:
trips_2019.reset_index(inplace = True)
trips_2019.columns

Index(['index', 'trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear',
       '01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year'],
      dtype='object')

###### Let us remove the columns that we are not going to use

In [65]:
trips_2019.drop(
    columns = [
        "trip_id", "gender", "birthyear", "01 - Rental Details Rental ID", "01 - Rental Details Bike ID",
        "03 - Rental Start Station ID", "02 - Rental End Station ID", "Member Gender", "bikeid",
        "05 - Member Details Member Birthday Year", "to_station_id", "from_station_id", "index"
    ], inplace = True
)

##### Dealing With Missing Values

###### The 2019 dataframe has 3,818,004 rows. Let us check for the number of missing values

In [66]:
trips_2019.isna().sum()

start_time                                          1108163
end_time                                            1108163
tripduration                                        1108163
from_station_name                                   1108163
to_station_name                                     1108163
usertype                                            1108163
01 - Rental Details Local Start Time                2709841
01 - Rental Details Local End Time                  2709841
01 - Rental Details Duration In Seconds Uncapped    2709841
03 - Rental Start Station Name                      2709841
02 - Rental End Station Name                        2709841
User Type                                           2709841
dtype: int64

###### As with the 2018 data, there are (in reality) only 6 columns here, but those columns have been duplicated under different names. The number of rows has been divided in the following manner: in the first 6 columns, 1,108,163 of the values are missing values. The second set of 6 columns (which I consider to be a duplicate of the first set) there are 2,709,841 missing values.

###### Let us have a look at the exact structure of these blocks of missing values is.

In [67]:
# Produce a list consisting of the row index on which a NaN first occurs for each column
first_nan_locations_2019 = [
    find_first_nan(data = trips_2019.iloc[:,i:], missing = True, just_reveal = False) for i in range(0,12)
]

In [68]:
# View said list 
first_nan_locations_2019

[365069, 365069, 365069, 365069, 365069, 365069, 0, 0, 0, 0, 0, 0]

###### The missing values in the first set of 6 columns begin on row #356,069. Those in the second set of 6 columns start from the beginning. So let us invert the question by asking when the non-missing values in the data start?

In [69]:
# Produce a list consisting of the row index on which a non-NaN first occurs for each column
first_non_nan_locations_2019 = [
    find_first_nan(data = trips_2019.iloc[:,i:], missing = False, just_reveal = False) for i in range(0,12)
]

In [70]:
# Again, view said list
first_non_nan_locations_2019

[0, 0, 0, 0, 0, 0, 365069, 365069, 365069, 365069, 365069, 365069]

###### The non-missing values in the second set of 6 columns also begin on row #356,069. This suggests that the missing values in one set of 6 columns are possibly present in the other set. If true, this would mean that, as a result of the evident duplication of columns, there are in fact no missing values in the data.

###### Let us check whether the number of missing values remains constant for every row. This would lend some credence to our budding theory.

In [71]:
for i in first_nan_locations_2019[:6]:

    row_nan_count = 0
    
    for j in range(0,12):

        if pd.isnull(trips_2019.iloc[i,j]) == True:

            row_nan_count += 1

    print(f"There are {row_nan_count} missing values on row #{i}")

There are 6 missing values on row #365069
There are 6 missing values on row #365069
There are 6 missing values on row #365069
There are 6 missing values on row #365069
There are 6 missing values on row #365069
There are 6 missing values on row #365069

###### Every row that contains missing values contains exactly 6 of them. Let us go one step further to confirm the theory. I will begin to isolate the values in the left half of the dataset, and check whether they are all missing. We have already seen that there are 1,108,163 missing values in the left half of the data, and we have seen that the missing values start from row #365069 for its 6 columns. What we want to confirm now is whether or not these 1,108,163 missing values all occur exactly one after the other in a single unbroken sequence.

In [72]:
# Isolate the missing values in the left half of the dataset
trips_2019.iloc[365069: 365069 + 1108163, :6].isna().sum()

start_time           1108163
end_time             1108163
tripduration         1108163
from_station_name    1108163
to_station_name      1108163
usertype             1108163
dtype: int64

###### Indeed they do. 

###### Let us investigate the missing values in the second half of the data. To begin with, we know that the first 365,069 values are missing. But we also know that there are 2,709,841 missing values in each column of the second half of the data. We know that 365,070 is not a missing value. But where are the remaining 2,344,772 values (per column)?

In [73]:
trips_2019.iloc[:365069, 6:12].isna().sum()

01 - Rental Details Local Start Time                365069
01 - Rental Details Local End Time                  365069
01 - Rental Details Duration In Seconds Uncapped    365069
03 - Rental Start Station Name                      365069
02 - Rental End Station Name                        365069
User Type                                           365069
dtype: int64

In [74]:
# Produce a list consisting of the row index on which a NaN first occurs for each column
find_first_nan(data = trips_2019.iloc[365069:, 6:12], missing = True, just_reveal = True)

1108163

In [75]:
find_first_nan(data = trips_2019.iloc[1108163:, 6:12], missing = True, just_reveal = True)

365069

###### We have found the remaining 2,344,772 missing values

In [76]:
trips_2019.iloc[365069+1108163:, 6:12].isna().sum()

01 - Rental Details Local Start Time                2344772
01 - Rental Details Local End Time                  2344772
01 - Rental Details Duration In Seconds Uncapped    2344772
03 - Rental Start Station Name                      2344772
02 - Rental End Station Name                        2344772
User Type                                           2344772
dtype: int64

###### Below, we see that these values are present in the same rows and in the preceding six columns.

In [77]:
trips_2019.iloc[365069+1108163:, :6].isna().sum()

start_time           0
end_time             0
tripduration         0
from_station_name    0
to_station_name      0
usertype             0
dtype: int64

##### Forming the Final 2019 Dataset

In [78]:
trips_2019.rename(columns = {"tripduration": "trip_duration (seconds)", "usertype": "user_type"}, inplace = True)

In [79]:
top_left_2019 = trips_2019.iloc[:365069,:6]
bottom_left_2019 = trips_2019.iloc[365069+1108163:,:6]
right_side_2019 = trips_2019.iloc[365069:365069+1108163,6:]

In [91]:
right_side_2019.columns

Index(['start_time', 'stop_time', 'trip_duration (seconds)',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')

###### We need to rename the columns

In [80]:
right_side_2019.rename(
    columns = {"01 - Rental Details Local Start Time": "start_time", "01 - Rental Details Local End Time": "stop_time", 
               "01 - Rental Details Duration In Seconds Uncapped": "trip_duration (seconds)", 
               "03 - Rental Start Station Name": "from_station_name", "02 - Rental End Station Name": "to_station_name",
               "User Type": "user_type" 
               }, 

    inplace = True
)

###### We attach these components together

In [81]:
trips_2019 = pd.concat(
    [
        top_left_2019, bottom_left_2019, right_side_2019
    ], axis = 0
)

In [82]:
trips_2019

,start_time,end_time,trip_duration (seconds),from_station_name,to_station_name,user_type,stop_time
0,2019-01-01 00:04:37,2019-01-01 00:11:07,390.0,Wabash Ave & Grand Ave,Milwaukee Ave & Grand Ave,Subscriber,NaT
1,2019-01-01 00:08:13,2019-01-01 00:15:34,441.0,State St & Randolph St,Dearborn St & Van Buren St (*),Subscriber,NaT
2,2019-01-01 00:13:23,2019-01-01 00:27:12,829.0,Racine Ave & 18th St,Western Ave & Fillmore St (*),Subscriber,NaT
3,2019-01-01 00:13:45,2019-01-01 00:43:28,"1,783.0",California Ave & Milwaukee Ave,Clark St & Elm St,Subscriber,NaT
4,2019-01-01 00:14:52,2019-01-01 00:20:56,364.0,Mies van der Rohe Way & Chicago Ave,Streeter Dr & Grand Ave,Subscriber,NaT
...,...,...,...,...,...,...,...
1473227,2019-06-30 23:58:00,NaT,"1,342.0",Halsted St & Archer Ave,Halsted St & Archer Ave,Customer,2019-07-01 00:20:22
1473228,2019-06-30 23:58:04,NaT,973.0,Wabash Ave & Grand Ave,Calumet Ave & 18th St,Subscriber,2019-07-01 00:14:17
1473229,2019-06-30 23:58:20,NaT,"1,651.0",Greenview Ave & Diversey Pkwy,Clark St & Chicago Ave,Subscriber,2019-07-01 00:25:51
1473230,2019-06-30 23:58:52,NaT,752.0,Racine Ave & Belmont Ave,Broadway & Barry Ave,Subscriber,2019-07-01 00:11:24
1473231,2019-06-30 23:59:05,NaT,"1,629.0",Michigan Ave & Oak St,Montrose Harbor,Subscriber,2019-07-01 00:26:14

###### That "stop_time" column has a bunch of missing values. Let us find out where the first non-NaNs start

In [83]:
for i in range(trips_2019.shape[0]):

    if pd.isnull(trips_2019.iloc[i,6]) == False:

        print(i)
        break

2709841

###### That "end_time" column has a bunch of missing values, and their positions may mirror the non-NaNs. Let us find out where these NaNs start.

In [84]:
for i in range(trips_2019.shape[0]):

    if pd.isnull(trips_2019.iloc[i,1]) == True:

        print(i)
        break

2709841

###### It's seems to be an exact match. We will merge these values and place them in the "end_time" column, and delete "stop_time"

In [85]:
trips_2019["end_time"] = pd.concat([trips_2019.iloc[:2709841,1], trips_2019.iloc[2709841:, 6]], axis = 0).values
trips_2019.drop("stop_time", axis = 1, inplace = True)

###### I almost forgot to remove duplicate values

In [86]:
# View the duplicate values
trips_2019[trips_2019.duplicated(keep = "first") == True]

,start_time,end_time,trip_duration (seconds),from_station_name,to_station_name,user_type
441,2019-01-01 11:55:20,2019-01-01 12:24:44,"1,764.0",Michigan Ave & Pearson St,Pine Grove Ave & Waveland Ave,Subscriber
516,2019-01-01 12:44:38,2019-01-01 12:50:10,332.0,Clinton St & Roosevelt Rd,Wabash Ave & Roosevelt Rd,Subscriber
610,2019-01-01 13:40:29,2019-01-01 13:50:07,578.0,Ashland Ave & Wrightwood Ave,Sheffield Ave & Willow St,Subscriber
1463,2019-01-02 06:19:14,2019-01-02 06:22:27,193.0,Clark St & Ida B Wells Dr,Franklin St & Jackson Blvd,Subscriber
3407,2019-01-02 13:57:27,2019-01-02 14:04:33,426.0,Desplaines St & Jackson Blvd,Wells St & Polk St,Subscriber
...,...,...,...,...,...,...
1471192,2019-06-30 18:58:34,2019-06-30 19:13:53,919.0,Wentworth Ave & 35th St,Wabash Ave & 16th St,Subscriber
1471213,2019-06-30 19:00:39,2019-06-30 19:31:15,"1,836.0",Washtenaw Ave & Lawrence Ave,Winchester (Ravenswood) Ave & Balmoral Ave,Subscriber
1471641,2019-06-30 19:35:48,2019-06-30 19:49:25,817.0,Loomis St & Lexington St,Green St & Madison St,Subscriber
1472635,2019-06-30 21:26:03,2019-06-30 21:38:06,723.0,Halsted St & Clybourn Ave (*),Desplaines St & Kinzie St,Subscriber
1472915,2019-06-30 22:16:38,2019-06-30 22:24:18,460.0,Halsted St & Maxwell St,Loomis St & Taylor St (*),Subscriber

In [87]:
trips_2019.drop_duplicates(inplace = True)

###### We need to make "trip_duration" a column of floats.

In [43]:
# Pandas' ".astype" method wasn't working, as it viewed the contents of the column as strings.
trips_2019["trip_duration (seconds)"] = trips_2019["trip_duration (seconds)"].apply(lambda x: float(x.split()[0].replace(',', '')))

### Geocoding the data from 2014 - 2019

In [101]:
pre_2020 = [trips_2014, trips_2015, trips_2016, trips_2017, trips_2018, trips_2019]
trips_pre_2020 = pd.concat(pre_2020, axis = 0)

origins = list(trips_pre_2020["from_station_name"].unique())

##### Obtain the Coordinates for Each Point of Origin

In [104]:
from geopy.geocoders import ArcGIS

geolocator = ArcGIS()origins_with_points
origins_with_points = []

# Get the ArcGis geocoder to obtain the coordinates for each place
for zone in origins[:len(origins)]:

    origins_with_points.append(geolocator.geocode(zone, timeout = None))


# View an element of the list
origins_with_points[0]

Location(Lincoln Ave, Belmont, California, 94002, (37.518965164186, -122.308262778663, 0.0))

In [108]:
origins_with_points

[Location(Lincoln Ave, Belmont, California, 94002, (37.518965164186, -122.308262778663, 0.0)),
 Location(Maxwell Street Express, (41.681652, -87.642383, 0.0)),
 Location(Sheffield Dr, Sylva, North Carolina, 28779, (35.349064425149, -83.211726045728, 0.0)),
 Location(Jackson St, Quapaw, Oklahoma, 74363, (36.958959992956, -94.78611499294, 0.0)),
 Location(Lexington Cir, Loomis, California, 95650, (38.795820785478, -121.129912635553, 0.0)),
 None,
 Location(Canal Rd, Madison, New York, 13402, (42.907764679069, -75.527052108737, 0.0)),
 Location(Grand St, Wabash, Indiana, 46992, (40.80038252922, -85.854300613052, 0.0)),
 None,
 Location(Ravenswood Ct, Montrose, Melbourne, Victoria, 3765, (-37.806213675303, 145.349073443124, 0.0)),
 Location(State, (25.44764, 81.78619, 0.0)),
 Location(Canal St, Missouri Valley, Iowa, 51555, (41.549860743524, -95.897406579417, 0.0)),
 Location(Merchandise Mart, (41.88843, -87.63678, 0.0)),
 Location(Park Ave, Middletown, California, 95461, (38.754552728047, -122.621626882404, 0.0)),
 Location(Museum Campus, Chicago, Illinois, (41.85915, -87.61248, 0.0)),
 Location(Congress Ct, Jeffersonville, Indiana, 47130, (38.319341566557, -85.696144501178, 0.0)),
 Location(Division St, Ashland, Kentucky, 41101, (38.449450531579, -82.631920094454, 0.0)),
 Location(Madison St, Aberdeen, Mississippi, 39730, (33.822000300628, -88.545124982757, 0.0)),
 Location(N Franklin St, Chicago, Illinois, 60606, (41.884926116964, -87.635391550594, 0.0)),
 Location(Belmont Ave, Racine, Wisconsin, 53405, (42.724219982028, -87.813790342118, 0.0)),
 Location(Illinois St, La Salle, Illinois, 61301, (41.342270025029, -89.097567357977, 0.0)),
 Location(N Concord St, Minneapolis, Kansas, 67467, (39.127310117307, -97.708294281247, 0.0)),
 Location(Congress St, Niles, Michigan, 49120, (41.773489993891, -86.260754999826, 0.0)),
 Location(McClurg Court, (41.89449, -87.61773, 0.0)),
 Location(Pearson St, Elberta, Michigan, 49628, (44.618189220715, -86.22699279012, 0.0)),
 Location(N Mies van der Rohe Way, Chicago, Illinois, 60611, (41.89842493495, -87.621850071027, 0.0)),
 Location(Augusta Ct, Ashland, Oregon, 97520, (42.176841095466, -122.656035028156, 0.0)),
 Location(Shaw Festival Theatre, (43.25251, -79.06665, 0.0)),
 Location(Carrer Gran, 08310, Argentona, Barcelona, Catalunya, (41.555470030732, 2.400582007678, 0.0)),
 Location(Franklin, Biała Rawska, Rawski, Łódzkie, (51.82122121, 20.527151231, 0.0)),
 Location(S Irving St, Englewood, Colorado, 80110, (39.628983401675, -105.029639995205, 0.0)),
 Location(Evergreen Dr, Wells, Maine, 04090, (43.355596664541, -70.650754398146, 0.0)),
 Location(Kingsbury Dr, North Ridgeville, Ohio, 44039, (41.352226418313, -82.053046758866, 0.0)),
 Location(Storegade & Storegade, 6670, Holsted Stationsby, Vejen, Syddanmark, (55.480579997171, 8.910259962506, 0.0)),
 None,
 Location(Avenue A & E Jackson Ave, Flint, Michigan, 48505, (43.041069997959, -83.696569969736, 0.0)),
 Location(Michigan Ave, Washington, Pennsylvania, 15301, (40.18823121833, -80.256271133496, 0.0)),
 Location(Clark St, Lincoln, Maine, 04457, (45.359361364653, -68.503271638066, 0.0)),
 Location(South St, Roscoe, Missouri, 64781, (37.974637574438, -93.812060083138, 0.0)),
 Location(W Webster St, Wichita, Kansas, 67215, (37.631689944314, -97.414839965019, 0.0)),
 Location(Kingsbury Ln, Tonawanda, New York, 14150, (42.999150917938, -78.841644896071, 0.0)),
 Location(Southwater Street, Horsham, West Sussex, England, (51.034774032, -0.344565022, 0.0)),
 Location(Kingsbury, Nevada, (38.97593, -119.90616, 0.0)),
 Location(State St, Biloxi, Mississippi, 39531, (30.401431374075, -88.941277656707, 0.0)),
 Location(Sheffield Pl, Fullerton, California, 92835, (33.899905038468, -117.879328376432, 0.0)),
 Location(Wright Ave, Stockton, California, 95204, (37.988474975005, -121.292608857511, 0.0)),
 Location(Charleston, South Carolina, (32.78115, -79.9316, 0.0)),
 Location(May St, Tilden, Illinois, 62292, (38.215829844111, -89.685061209315, 0.0)),
 Location(Avenue G & Lake St, Dollar Bay, Michigan, 49922, (47.117930011413, -88.504310021412, 0.0)),
 Location(Millennium Park, Dindoli, Surat, Gujarat, (21.14615, 72.87625, 0.0)),
 Location(Lake St, Fort Morgan, Colorado, 80701, (40.251585990253, -103.796754747846, 0.0)),
 Location(Franklin St, Jackson, Georgia, 30233, (33.289765489648, -83.959690571756, 0.0)),
 Location(Pearson, Georgia, (31.29744, -82.85268, 0.0)),
 Location(Polk St, Trenton, Illinois, 62293, (38.608683456257, -89.695892801162, 0.0)),
 Location(Brightwood Dr, Las Vegas, Nevada, 89123, (36.051430757579, -115.14934493943, 0.0)),
 Location(Western Ave, Rockford, Illinois, 61101, (42.319535969717, -89.140033502812, 0.0)),
 Location(State St, Randolph, Massachusetts, 02368, (42.188475101216, -71.03181734825, 0.0)),
 Location(Washington St, La Salle, Illinois, 61301, (41.350934995036, -89.093894976701, 0.0)),
 Location(Clinton, Maryland, (38.76156, -76.9146, 0.0)),
 None,
 Location(N Taylor St, Mitchell, South Dakota, 57301, (43.711089962158, -98.004494993407, 0.0)),
 Location(Des Plaines, Illinois, (42.0423, -87.88921, 0.0)),
 Location(Halsted Rd, Rockford, Illinois, 61101, (42.310115274268, -89.114689173036, 0.0)),
 Location(N Clark St, Chicago, Illinois, 60660, (41.993040745689, -87.669998883848, 0.0)),
 Location(Wellington Avenue, Anston, Sheffield, South Yorkshire, England, S25 4, (53.360637088957, -1.221296589422, 0.0)),
 Location(Monroe St, Dearborn, Michigan, 48124, (42.296578729968, -83.246623110984, 0.0)),
 None,
 Location(Erie St, Port Huron, Michigan, 48060, (42.981121437348, -82.427440146638, 0.0)),
 Location(Leavitt Ln, Lincoln, Nebraska, 68510, (40.807422592925, -96.607027197743, 0.0)),
 Location(La Salle St, Jackson, Michigan, 49203, (42.20644500675, -84.401680014283, 0.0)),
 Location(Broadway Plaza, (41.977683, -87.659027, 0.0)),
 Location(Clark St, Khandallah, Wellington, 6035, (-41.243546985781, 174.787803111462, 0.0)),
 Location(Armitage Ave, Las Vegas, Nevada, 89144, (36.175370000384, -115.332069995502, 0.0)),
 Location(Belmont Ave, Seattle, Washington, 98122, (47.615900008014, -122.32456632472, 0.0)),
 Location(Hubbard Ln, Wells, Maine, 04090, (43.325073761127, -70.618107607247, 0.0)),
 Location(Lakeshore, City of Willoughby, Ohio, (41.69541, -81.40663, 0.0)),
 Location(Broadway, Freeport, Michigan, 49325, (42.76619154912, -85.29095655134, 0.0)),
 Location(Centre Plaza, (38.647559, -77.340137, 0.0)),
 Location(Wolcott Ave, Des Moines, Iowa, 50315, (41.550914756705, -93.628119982109, 0.0)),
 Location(Roosevelt, (41.87634, -87.62602, 0.0)),
 Location(Wentworth, (52.15598, 1.60326, 0.0)),
 Location(E 8th St, Mount Carmel, Illinois, 62863, (38.415639082878, -87.760682454146, 0.0)),
 Location(Northaven Dr, Jeffersonville, Indiana, 47130, (38.313434357359, -85.726227811136, 0.0)),
 Location(Wrightwood, California, (34.36075, -117.63226, 0.0)),
 Location(May Ct, Taylors, South Carolina, 29687, (34.902552470515, -82.330789122772, 0.0)),
 Location(Division St, Parkersburg, West Virginia, 26101, (39.252453291884, -81.554126114469, 0.0)),
 Location(Washington Blvd, Centralia, Illinois, 62801, (38.528489991337, -89.146860013319, 0.0)),
 Location(Halstead St, Waterloo, Iowa, 50703, (42.504964198381, -92.325234102256, 0.0)),
 Location(Broadway St, Sheridan, Wyoming, 82801, (44.806577938405, -106.953337810176, 0.0)),
 Location(N Madison St, La Grange, Texas, 78945, (29.912306826124, -96.87834069414, 0.0)),
 Location(Michigan Ave, Madison, Wisconsin, 53704, (43.123909943118, -89.335013346545, 0.0)),
 Location(Southport Ct, Wellington, Florida, 33414, (26.664592788559, -80.245324888456, 0.0)),
 Location(Waveland Ave, Winchester, Kentucky, 40391, (38.001274798576, -84.192160581958, 0.0)),
 Location(Chicago Ave, Kahoka, Missouri, 63445, (40.434843176144, -91.775378057464, 0.0)),
 Location(Randolph Dr, Columbus, Mississippi, 39702, (33.527357997933, -88.345900205867, 0.0)),
 Location(Dearborn St, Berne, Indiana, 46711, (40.653047594626, -84.952600839165, 0.0)),
 Location(Irving, Pine Grove, Pennsylvania, (40.53287, -76.43885, 0.0)),
 Location(Kinzigweg, 06217, Merseburg, Sachsen-Anhalt, (51.350756910308, 11.980338953717, 0.0)),
 Location(South St, Waveland, Mississippi, 39576, (30.275109287193, -89.393798663655, 0.0)),
 Location(Wells St, Erie, Colorado, 80516, (40.050241101278, -105.049394932356, 0.0)),
 None,
 Location(State Street, (42.373795, -71.124621, 0.0)),
 Location(E State St, Athens, Ohio, 45701, (39.336689464039, -82.066531660738, 0.0)),
 Location(N Delaware St, Dearborn, Missouri, 64439, (39.522415001189, -94.770680011609, 0.0)),
 Location(Lake St, Franklin, Massachusetts, 02038, (42.062165002368, -71.454980006188, 0.0)),
 Location(Grand Ave, Stuart, Oklahoma, 74570, (34.90081984879, -96.100540028932, 0.0)),
 Location(Storegade 21, 6670, Holsted Stationsby, Vejen, Syddanmark, (55.479611176563, 8.909496058767, 0.0)),
 Location(Stäte, 99706, Sondershausen, Oberspier, Thüringen, (51.311735008523, 10.852759988444, 0.0)),
 Location(State St, Van Buren, Maine, 04785, (47.145005917372, -67.942927286028, 0.0)),
 Location(Wilton, Wiltshire, England, (51.079972903, -1.863768181, 0.0)),
 Location(Pine St, Waveland, Mississippi, 39576, (30.279961935375, -89.386473118743, 0.0)),
 Location(Streetzer Weg, 06861, Dessau-Roßlau, Sachsen-Anhalt, (51.901128360133, 12.233394236689, 0.0)),
 None,
 Location(Canal St, Washtucna, Washington, 99371, (46.755894837704, -118.312995651969, 0.0)),
 Location(Ellas, (39.0, 22.0, 0.0)),
 Location(Clinton St, Madison, Indiana, 47250, (38.765389935295, -85.426162645106, 0.0)),
 Location(Larrabee Rd, Webster, Wisconsin, 54893, (45.830452314437, -92.162457522506, 0.0)),
 Location(Lake St, Clinton, Minnesota, 56225, (45.459112121647, -96.435436965725, 0.0)),
 Location(Drivel, 48282, Emsdetten, Nordrhein-Westfalen, (52.172812813505, 7.549976953728, 0.0)),
 Location(Shore Acres Dr & E North Blvd, Leesburg, Florida, 34748, (28.813809980086, -81.865420007084, 0.0)),
 Location(Division Street, (51.73055, -3.13325, 0.0)),
 Location(Roosevelt Rd, Clinton, North Carolina, 28328, (34.970757439688, -78.326807140703, 0.0)),
 Location(Willow St, Sheffield, Pennsylvania, 16347, (41.709426585321, -79.039531567342, 0.0)),
 Location(N Lincoln Ave, Fullerton, California, 92831, (33.881865418551, -117.91110387674, 0.0)),
 Location(Green St, Randolph, Massachusetts, 02368, (42.179365016051, -71.0456535698, 0.0)),
 Location(Schiller St, Springfield, Ohio, 45505, (39.906329248953, -83.782898615447, 0.0)),
 Location(NE 29th St, Oklahoma City, Oklahoma, 73111, (35.49946436449, -97.477819995348, 0.0)),
 Location(Elm St, Clark, New Jersey, 07066, (40.628115015863, -74.287179994531, 0.0)),
 Location(14th Ave SE, Decatur, Alabama, 35601, (34.592430661832, -86.969995099305, 0.0)),
 Location(City Front Plaza, (41.890621, -87.635005, 0.0)),
 Location(Belmont Ave, Indianapolis, Indiana, 46217, (39.674864320669, -86.196530007849, 0.0)),
 Location(Armitage Avenue, Rastrick, Brighouse, West Yorkshire, England, HD6 3, (53.690974687174, -1.778491331556, 0.0)),
 Location(Wilton Avenue, Hereford, Herefordshire, England, HR2 7, (52.039087248688, -2.734777127697, 0.0)),
 Location(Wood St, Perry, Florida, 32348, (30.075434405805, -83.560748609568, 0.0)),
 Location(Willow Way, Halstead, Essex, England, CO9 1, (51.939464999335, 0.628670021253, 0.0)),
 None,
 Location(Wells St, Winter Haven, Florida, 33884, (28.007413060163, -81.662984321322, 0.0)),
 Location(Lakeview Ave, La Habra, California, 90631, (33.915252176379, -117.93973996208, 0.0)),
 Location(W Ave W & 14th St S, Schoolcraft, Michigan, 49087, (42.114099986904, -85.627310017882, 0.0)),
 Location(McCormick Place, (41.85527, -87.61685, 0.0)),
 Location(Clark St, Randolph, Maine, 04346, (44.237166373289, -69.766657890082, 0.0)),
 Location(State St, Erie, Colorado, 80516, (40.041239738597, -105.009391987035, 0.0)),
 Location(N Noble Ct, Canby, Oregon, 97013, (45.270665157469, -122.684779193317, 0.0)),
 Location(North Ave, Dayton, Ohio, 45406, (39.768800018248, -84.211150009283, 0.0)),
 Location(18th St, Hubbell, Michigan, 49934, (47.17753435346, -88.427032478183, 0.0)),
 Location(Des Hampden, Cape Town, Western Cape, (-33.92975, 18.67327, 0.0)),
 Location(Morgenstraße, 29410, Salzwedel, Sachsen-Anhalt, (52.851319987258, 11.173675023566, 0.0)),
 Location(Ellington Ct, Ashland, Kentucky, 41101, (38.484939990325, -82.669454991198, 0.0)),
 Location(Boulevard, Logan, Utah, 84321, (41.734744121092, -111.824391823942, 0.0)),
 Location(Addison Square, Dinnington, Sheffield, South Yorkshire, England, S25 2, (53.369914223932, -1.204538101946, 0.0)),
 Location(Wolcott Ave, Lawrence, Massachusetts, 01843, (42.693492289627, -71.173897741454, 0.0)),
 Location(Canal St, Tavernier, Florida, 33070, (25.023852909879, -80.49704985114, 0.0)),
 Location(BROADWAY, (22.31964, 114.17026, 0.0)),
 Location(Sheffield, South Yorkshire, England, (53.382525584, -1.468535662, 0.0)),
 Location(Cannon Dr, Garden Grove, California, 92840, (33.780934396008, -117.904844965785, 0.0)),
 None,
 Location(Roscoe's, (41.943446, -87.649597, 0.0)),
 Location(Avenue M & Avenue N, San Francisco, California, 94130, (37.820890018633, -122.364010038955, 0.0)),
 Location(Aberdeen St, Jackson, Mississippi, 39209, (32.298159832711, -90.223417866787, 0.0)),
 Location(55th St N, Birmingham, Alabama, 35212, (33.542879388446, -86.753469675664, 0.0)),
 Location(Eckhart Park, (41.8962, -87.6612, 0.0)),
 Location(N Avenue E, Valley Center, Kansas, 67147, (37.879190010894, -97.212519975012, 0.0)),
 Location(Lincoln, Nebraska, (40.81362, -96.7073, 0.0)),
 Location(Menomonee, Wisconsin, (43.1789, -88.11731, 0.0)),
 Location(18th Ave SE, Decatur, Alabama, 35601, (34.594344370868, -86.964737857123, 0.0)),
 Location(Jefferson St, Clarendon, Arkansas, 72029, (34.693673357068, -91.309950101554, 0.0)),
 Location(Milwaukee, Wisconsin, (43.04223, -87.9069, 0.0)),
 Location(Oak St, Hubbard Lake, Michigan, 49747, (44.819552001334, -83.553841942261, 0.0)),
 Location(Park Ave, Middletown, California, 95461, (38.754552728047, -122.621626882404, 0.0)),
 Location(Canal St, Jackson, Mississippi, 39203, (32.298114168633, -90.199405110719, 0.0)),
 Location(Portland Street, (53.20257, -1.21236, 0.0)),
 None,
 Location(Ave, (41.476734, -87.046332, 0.0)),
 Location(Wells St, Walton, New York, 13856, (42.175995019346, -75.129230010849, 0.0)),
 Location(Ave, (41.529774, -87.336425, 0.0)),
 None,
 None,
 None,
 Location(Racine, Wisconsin, (42.72564, -87.78955, 0.0)),
 Location(Milwaukee Ave, Los Angeles, California, 90042, (34.119930107551, -118.191897732469, 0.0)),
 Location(Lincoln Dr, Bay Saint Louis, Mississippi, 39520, (30.312355303181, -89.363108096819, 0.0)),
 Location(Garfield Ave N, Terry, Montana, 59349, (46.79524999894, -105.314584972949, 0.0)),
 None,
 Location(Eastwood Cir, Lincoln, Alabama, 35096, (33.629192220095, -86.127602068547, 0.0)),
 None,
 Location(Storegade & Storegade, 6670, Holsted Stationsby, Vejen, Syddanmark, (55.480579997171, 8.910259962506, 0.0)),
 Location(Wood Ave, Milwaukee, Wisconsin, 53214, (43.026664937238, -87.974684408524, 0.0)),
 Location(May Ave, Caroga Lake, New York, 12032, (43.137405013264, -74.482024961376, 0.0)),
 Location(18th St, Racine, Wisconsin, 53403, (42.709100441055, -87.789190099711, 0.0)),
 Location(E Plane St, Ashland, Pennsylvania, 17921, (40.749298377141, -76.341232295332, 0.0)),
 None,
 Location(W Ogden Ave, Chicago, Illinois, 60623, (41.854527168711, -87.715059302222, 0.0)),
 Location(Lincoln, Nebraska, (40.81362, -96.7073, 0.0)),
 Location(Park Road, Southport, Merseyside, England, PR9 9, (53.653503914964, -2.987608020219, 0.0)),
 Location(Carpenter Ln, Eight Mile, Alabama, 36613, (30.800458531431, -88.232915040991, 0.0)),
 Location(Blue Island, Illinois, (41.65533, -87.68006, 0.0)),
 Location(Westertor, 39326, Niedere Börde, Dahlenwarsleben, Sachsen-Anhalt, (52.194495620784, 11.532668853935, 0.0)),
 Location(North Ave, Wisconsin Rapids, Wisconsin, 54495, (44.421995398491, -89.817582340932, 0.0)),
 Location(Júnior, Campeche, (18.19387, -91.37519, 0.0)),
 Location(Washington St, New Berlin, Illinois, 62670, (39.753270243292, -89.901931836675, 0.0)),
 Location(Clendon Cir, Leland, North Carolina, 28451, (34.176752842759, -78.041438276622, 0.0)),
 None,
 Location(Gordon Rd, Summerton, South Carolina, 29148, (33.513826763506, -80.428301388649, 0.0)),
 Location(Fort Dearborn, (34.369308, -84.040159, 0.0)),
 Location(Cortlandt, New York, (41.22952, -73.90851, 0.0)),
 Location(Montrose Harbor, (41.96308, -87.63885, 0.0)),
 Location(Harrison St, Wellsford, 0900, (-36.295822368326, 174.523764855552, 0.0)),
 Location(Sheridan, Ohio, (38.48653, -82.56818, 0.0)),
 Location(Milwaukee St, Belleville, Wisconsin, 53508, (42.829070429079, -89.504864363481, 0.0)),
 Location(Clifton Ct, Lawrence, Kansas, 66046, (38.947745480536, -95.254176315232, 0.0)),
 None,
 Location(S Blackstone Ave, Chicago, Illinois, 60637, (41.791109738518, -87.590255462853, 0.0)),
 Location(Broadway, Wilson, Texas, 79381, (33.32698786128, -101.914280038977, 0.0)),
 Location(Greenview Pl, Fullerton, California, 92835, (33.902310623454, -117.873017523265, 0.0)),
 Location(S Damen Ave, Chicago, Illinois, 60620, (41.746884364322, -87.673057401724, 0.0)),
 Location(Ashland Ave, Leesburg, Florida, 34748, (28.806479984804, -81.851009964874, 0.0)),
 Location(Schiller Ave, Syracuse, New York, 13203, (43.071420010213, -76.140444980068, 0.0)),
 Location(Grand Avenue, Jackson, Mississippi, (32.30397, -90.20615, 0.0)),
 Location(LA-18, Vacherie, Louisiana, 70090, (30.008331850743, -90.727674532793, 0.0)),
 Location(N Lincoln St, Belle Plaine, Kansas, 67013, (37.394160014142, -97.278490037321, 0.0)),
 Location(Damon Ave, Melrose, Massachusetts, 02176, (42.470855445497, -71.056824854503, 0.0)),
 None,
 Location(Parkway Ln, Saint Louis, Missouri, 63123, (38.57776410415, -90.310368589355, 0.0)),
 Location(Sheridan Rd, Montrose, Michigan, 48457, (43.153881213482, -83.929883711664, 0.0)),
 None,
 Location(Franklin St, Quincy, Massachusetts, 02169, (42.237536495094, -71.00248063893, 0.0)),
 Location(Lake Shore Dr, Belmont, North Carolina, 28012, (35.18573701251, -81.051069304316, 0.0)),
 Location(Wrightwood, California, (34.36075, -117.63226, 0.0)),
 Location(North Avenue, Prem Nagar, Patiala, Punjab, (30.36305, 76.36988, 0.0)),
 Location(Ashland Ave, Riverdale, Illinois, 60827, (41.65711501565, -87.660683251965, 0.0)),
 Location(Damon Rd, Madison, Wisconsin, 53713, (43.035503596516, -89.407248051964, 0.0)),
 Location(Avenue A & Division St, Rosamond, California, 93560, (34.820709985132, -118.130790022263, 0.0)),
 Location(Green View Avenue, (23.07332, 72.52073, 0.0)),
 Location(W Ave W & 18th St S, Schoolcraft, Michigan, 49087, (42.114029998013, -85.588380017126, 0.0)),
 Location(Loomis St, Jackson, Michigan, 49202, (42.258560134883, -84.392781855945, 0.0)),
 Location(N Ave, Larrabee, Iowa, 51029, (42.895559976511, -95.603319270132, 0.0)),
 Location(State St, Marne, Michigan, 49435, (43.034451366156, -85.826740067108, 0.0)),
 Location(Lake Shore Dr, Wellington, Florida, 33414, (26.652219159145, -80.213412075326, 0.0)),
 Location(Wellington, (-41.284893524, 174.776100466, 0.0)),
 Location(Grace St, Ashland, Kentucky, 41102, (38.451174533223, -82.661385218783, 0.0)),
 Location(North Ave, Campbell, Missouri, 63933, (36.496319988042, -90.081570085477, 0.0)),
 Location(Adler Planetarium, (41.86633, -87.60734, 0.0)),
 Location(Polk St, Hermitage, Missouri, 65668, (37.940618617245, -93.317004877901, 0.0)),
 Location(13th St, Racine, Wisconsin, 53406, (42.71696199739, -87.84002018142, 0.0)),
 Location(Ogden Rd, West Salem, Ohio, 44287, (40.867949891257, -82.083992954083, 0.0)),
 Location(15th St, Racine, Wisconsin, 53403, (42.714030012821, -87.785329861701, 0.0)),
 None,
 Location(18th St, Carlyle, Illinois, 62231, (38.613119682104, -89.380600028383, 0.0)),
 Location(Elm St, Orleans, Michigan, 48865, (43.087159988045, -85.073314823439, 0.0)),

## 2020 - 2023

In [86]:
trips_2020 = pd.read_pickle(ALTERED_DATA_PICKLES/"2020 - 2023/0.pkl")
trips_2021 = pd.read_pickle(ALTERED_DATA_PICKLES/"2020 - 2023/1.pkl")
trips_2022 = pd.read_pickle(ALTERED_DATA_PICKLES/"2020 - 2023/2.pkl")
trips_2023 = pd.read_pickle(ALTERED_DATA_PICKLES/"2020 - 2023/3.pkl")

In [ ]:
post_2020 = [trips_2020, trips_2021, trips_2022, trips_2023]

for dataset in post_2020:

    dataset.drop(columns = ["ride_id", "rideable_type"], inplace = True)

    dataset.rename(
        columns = {
            "started_at": "start_time", 
            "ended_at" : "stop_time",
            "member_casual" : "user_type"
            },
        inplace = True
    )

In [ ]:
for dataset in post_2020:

    print(dataset.isna().sum())
    
    print("\n")
    print("############################")
    print("\n")

start_time    0
stop_time     0
start_lat     0
start_lng     0
end_lat       0
end_lng       0
user_type     0
dtype: int64


#############################


start_time    0
stop_time     0
start_lat     0
start_lng     0
end_lat       0
end_lng       0
user_type     0
dtype: int64


#############################


start_time    0
stop_time     0
start_lat     0
start_lng     0
end_lat       0
end_lng       0
user_type     0
dtype: int64


#############################


start_time    0
stop_time     0
start_lat     0
start_lng     0
end_lat       0
end_lng       0
user_type     0
dtype: int64


#############################

###### For each year, there are a couple of thousand trips for which the destination's coordinates and names are unknown.

In [ ]:
for dataset in post_2020:    
    
    dataset.drop(
        dataset[pd.isnull(dataset["end_lat"]) == True].index,
        inplace = True
    )

In [ ]:
for dataset in post_2020:

    print(dataset.isna().sum())

    print("############################")
    print("\n")

start_time                 0
stop_time                  0
start_station_name     93953
end_station_name      105860
start_lat                  0
start_lng                  0
end_lat                    0
end_lng                    0
user_type                  0
dtype: int64
#############################


start_time                 0
stop_time                  0
start_station_name    687681
end_station_name      731601
start_lat                  0
start_lng                  0
end_lat                    0
end_lng                    0
user_type                  0
dtype: int64
#############################


start_time                 0
stop_time                  0
start_station_name    828073
end_station_name      882455
start_lat                  0
start_lng                  0
end_lat                    0
end_lng                    0
user_type                  0
dtype: int64
#############################


start_time                 0
stop_time                  0
start_station_name    834388
end_station_name      877709
start_lat                  0
start_lng                  0
end_lat                    0
end_lng                    0
user_type                  0
dtype: int64
#############################

###### Since the remaining rows all feature latitudes and longitudes, I no longer need the station names

In [ ]:
for dataset in post_2020:

    dataset.drop(
        columns = ["start_station_name", "end_station_name"], 
        inplace = True
    )

##### Duplicate Values

In [ ]:
for dataset in post_2020:    
    dataset.drop_duplicates(inplace = True)