In [1]:
import pandas as pd
from src.core.paths import CLEANED_DATA

trips = pd.read_parquet(path = CLEANED_DATA/"final.parquet")

In [2]:
trips.head()

,start_time,stop_time,start_latitude,start_longitude,stop_latitude,stop_longitude
0,2014-06-30 23:57:00,2014-07-01 00:07:00,41.939304,-87.668278,41.945514,-87.646477
1,2014-06-30 23:56:00,2014-07-01 00:00:00,41.864819,-87.647128,41.869388,-87.655475
2,2014-06-30 23:33:00,2014-06-30 23:35:00,41.921687,-87.653714,41.919936,-87.648830
3,2014-06-30 23:26:00,2014-07-01 00:24:00,41.877702,-87.649654,49.318630,11.131904
4,2014-06-30 23:16:00,2014-06-30 23:26:00,41.872165,-87.661434,41.877702,-87.649654

In [3]:
trips["start_hour"] = trips["start_time"].dt.floor("H")
trips["stop_hour"] = trips["stop_time"].dt.floor("H")