In [1]:
import pandas as pd
starts_ts = pd.read_parquet("/home/kobina/ML/End-to-End Projects/Actualised/Divvy-Bikes-Demand-Predictor/data/transformed/time series/ends_ts.parquet")

In [2]:
starts_ts.dtypes

end_hour          datetime64[ns]
end_station_id             int64
trips                      int64
dtype: object

In [3]:
starts_ts

                   end_hour  end_station_id  trips
0       2024-01-01 00:00:00              18      3
1       2024-01-01 00:00:00              38      1
2       2024-01-01 00:00:00              76      1
3       2024-01-01 00:00:00              90      1
4       2024-01-01 00:00:00              93      1
...                     ...             ...    ...
1050403 2024-07-01 12:00:00            1561      1
1050404 2024-07-01 13:00:00             147      1
1050405 2024-07-01 14:00:00             755      1
1050406 2024-07-01 18:00:00             896      1
1050407 2024-07-01 18:00:00             934      1

[1050408 rows x 3 columns]